* {
 margin: 0px;
}
h1 {
  font-family: "Poppins", sans-serif;
}
.f-s-para h2 {
  font-family: "Poppins", sans-serif;
}
h3 {
  font-family: "Poppins", sans-serif;
}
.p12{font-family: 'Montserrat', sans-serif;

}
.p13{
font-family: "muli", sans-serif;
}
p {
  font-family: "Muli", sans-serif;
}

.m {
  padding: 0.5rem 0.2rem 0rem 0.7rem;
  border-radius: 50%;
  background-color: rgb(247, 222, 217);
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  color: aliceblue;
  justify-content: space-between;
  height:20vh;
}

.navbar div {
  width: 8%;
  margin-bottom: 2%;

  font-size: 0.8em;
 
}

.navbar h1:hover {
  color: rgb(255, 38, 0);
  border-bottom: 3px dashed red;
  border-bottom-left-radius: 1em;
  color: red;
}
.navbar-m {
  font-family: 'Montserrat', sans-serif;
  padding: 20%;
  color: white;
  margin-left: 30px;
  font-size: 1.6em;
  border-radius: 50%;
  background-color: red;
}
.navbar-m hr {
  width: 1%;
  height: 2px;
  border: 3px solid black;
  color: black;
}
.navbar h1 {
  color: black;
}

/* ////////////////////////first//////////
/////////////section//////////
start/////////// */

.first-s {
  margin-left: 5%;
  background-image: url(trip.jpg);
  width: 94%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 2%;
}
.about-main {
  padding-top: 20%;
  font-size: 1.3em;
  width: 45%;
  padding-left: 7%;
  font-family: "Muli", sans-serif;
}
.h1m{
  font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    font-size: 1.9em;
    line-break: 3%;
}
.h1{
  
    padding-top: 20px;
}
.table {
  display: flex;
  flex-direction: row;
  margin-top: 24%;
}
.div-s2{
  margin-left: 5%;
  margin-right: 5%;
}
.about-main button{
  padding: 11px 18px;
  font-size: .7em;
  background-color: rgb(206, 32, 32);
  border: 1px solid rgb(216, 53, 53);
  border-radius: 6%;
  color: white;
  margin-top: 5%;
 
}
.p12{
  font: 0.9em sans-serif;
  font-style:bold;
  font-family: 'Montserrat', sans-serif;
}
.p13{
  font: 0.9em ;

}
/* //////////end/////
/////////first/////
////section////
/////start 2nd section/// */
.s-s {
  margin-left: 8.5%;
    margin-right: 3%;
}
.s-s-mh h1 {
  margin-top: 5%;
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
}
.s-s-mh p {
  font-size: 1em;
  font-family: "Muli", sans-serif;
}
.a {
  padding: 0.1rem 0.2rem 0rem 0.9rem;
  border-radius: 50%;
  background-color: rgb(247, 222, 217);
}
.main2nd{
  margin-top: 4%;
  width: 96%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
}
.img2nd{
  width: 38%;

}
.img2nd img{
  width:100%;
  height: 100%;
}
.head2nd p{
  line-height: 4vh;
}
.head2nd{
  font-size: 1.1em;
  width: 58%;

}
.head2nd11{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  line-height: 6vh;
}
.head2nd1{
  padding-left: 1.2%;
  width: 48%;
  line-height: 6vh;
}
.head2nd1 button{
  padding: 11px 18px;
font-size: 1em;
background-color: rgb(206, 32, 32);
border: 1px solid rgb(216, 53, 53);
border-radius: 6%;
color: white;
margin-top: 2%;
}
.head2nd2{
  width: 48%;
}

.s-s-sqare {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
  margin-right: 4%;
}

.s-s-sqares {
  width: 15%;
  padding-bottom: 40px;
  padding-top: 30px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgb(240, 240, 243);

  margin-bottom: 1%;
}

/* /////end section 2////
///////start s///////////
section 3//////// */
.s-t {
  margin-left: 10%;
  margin-right: 3.5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.s-t-h2 {
  height: auto;
  padding-bottom: 2%;
}

.s-t-p div {
  padding: 5% 5%;
}
.s-t-p {
  border-radius: 2%;
  width: 94%;
  background-color: white;
  box-shadow: 0px 4px 8px rgb(235, 222, 235);
}

/* ////////end////
section////////3///
////start////
section 4/////// */
.f-s {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 6%;
}
.f-s-ph h1{
  font-size: 2em;
}
.f-s-md {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4%;

  margin-bottom: 3%;
}

.f-s-d {
  width: 31.4%;
  height: auto;
align-items: center;
  text-align: center;
  background-color: rgb(240, 240, 243);
  border-radius: 2%;
  padding-bottom: 2%;
}
.f-s-circle {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid red;
  color: red;
  font-size: 1.8em;
  font-family: bold;
  align-items: center;
  margin-top: 5%;
  margin-left: 39%;
}
/* /////////////////end////////////////////////////////////
/////////////////////section 4//////////////////////////////////
//////////////////////////////////start section ////////////////////// */
.s-fi {
margin-top: 5%;
  margin-left: 10%;
  margin-right: 6%;
}  
.s-fi-h h1{
  font-size: 2em;
}
.s-fi-img img {
  width: 100%;
  height: 300px;
}
.s-fi-imgd {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
.s-fi-img {
  font-family: "Open Sans", sans-serif;
  width: 31.5%;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: -1px 2px 0px 2px rgb(247, 245, 245);
  justify-items: center;
}
.s-fi-img h1 {
  padding-bottom: 5px;
}
.s-himg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.s-himgg {
  font-size: 1.1em;
  padding: 10px;
}
.s-mg {
  padding: 10px;
  color: red;
  font-size: 1.4em;
}

/* ////////////////////////////////////////end///////////////////////////
section 5//////////////////////////////////////////////
//////////////////////////start//////////////////////////////////////////
////////////////////////sesction six//////////////////// */
.s-si {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 6%
}
.s-si-h h1{
  font-size: 2em;
}
.s-six-main {
  margin-top: 4%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.s-si-md {
  width: 47%;
  border-radius: 2%;
  background-color: rgb(245, 250, 245);
}
.s-si-mdi {
  padding-left: 15%;
  padding-top: 7%;
  padding-right: 5%;
  padding-bottom: 0px;
}
.s-si-six {
  height: 50px;
  width: 50px;
  display: flex;
  color: red;
  border-radius: 50%;
  background-color: rgb(250, 250, 252);
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  text-align: center;
}
.s-si-h1 {
  border-left: 3px solid red;
}
.s-si-h1 p {
  margin-left: 2%;
}
.s-si-i {
  position: relative;
  bottom: 37%;
  right: 7.5%;
}

.s-si-i img {
  width: 80px;
  height: 80px;
  border-color: 1px solid red;
  border-radius: 50%;
  border: 1px solid red;
}

/* //////////////////////end///////section////////////////////
////////////////////////////six//////////////////////
start///////////////////////////////////////////
/////////////////////section7////////// */
.se-s {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 6%
}
.se-s-h{
  font-size: 1.5em;
}
.s-six-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.se-s-imgm {
  width: 49%;
}
.se-s-img {
  width: 100%;
}
.se-s-img img {
  height: 350px;
  width: 100%;
}
.se-s-heading {
  padding-bottom: 4%;

  height: auto;
  width: 93%;
  border-radius: 2%;
  margin-left: 3%;
  transform: translateY(-19%);
  background-color: #ffffff;

  box-shadow: -1px 2px 0px 2px rgb(231, 231, 231);
}
.se-s-heading button {
  font-size: 1em;
  border-radius: 6%;
  padding: 11px 15px;
  border: 1px solid rgb(248, 4, 4);
  background-color: rgb(248, 71, 71);
  margin-left: 20px;
  color: #ffffff;
  margin-top: 10px;
}
.se-s-b{
  padding-top: 1.5%;
}
.se-s-b p{
  height: 7px;
  font-size: 1em;
  border-left: 3px solid red;

  margin-top: 15px;
  color: black;
}
.se-s-heading p,
h1,
p {
  padding: 10px;
}

/* //////////////////////complete////////////
8th///////////////////////////section///////
start//////////////////////////////////
////////////////9th-section/////////// */
.n-s {
  margin-top: 5%;
  margin-left: 3.5%;
  margin-right: 6%;
}
.n-s-ms h1{
  font-size: 1.4em;
}
.n-s-mclas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%
}
.n-s-class {
  padding-top: 3%;
  width: 44%;
  background-color: rgb(245, 244, 240);
  padding-bottom: 4%;
}
.n-s-classb {
  
  width: 53%;
  font-size: 1.2em;
}
.n-s-classb i {
  color: red;
}
.n-s-class input {
  font-family: "Open Sans", sans-serif;
  padding: 2%;
  height: 17px;
  width: 80%;
  font-size: 1.3em;
  margin-bottom: 20px;
  border-radius: 16% solid rgb(226, 224, 224);
  margin-left: 5%;
  border: 1px solid rgb(202, 200, 200);
  background-color: rgb(245, 244, 240);
  color: rgb(202, 200, 200);
}
.n-s-class button {
  font-size: 1em;
  border-radius: 5%;
  padding: 8px 13px;
  border: 1px solid rgb(247, 8, 8);
  background-color: rgb(233, 5, 5);
  margin-top: 6%;
  color: white;
  margin-left: 3%;
}

textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  width: 83%;
  height: 40%;
  margin-left: 5%;
  color: rgb(202, 200, 200);
  border: 1px solid rgb(202, 200, 200);
  background-color: rgb(245, 244, 240);
}

.foothead {
  margin-right: 0%;
  margin-top: 5%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(217, 220, 223);
  font-size: 1.3em;
  height: 8vh;
}
.n-s-classb h3{
  margin-left: 1.5%;
  font-size: 1em;
}

